# PostgreSQL Multi-tenant Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auto_catalogo_db?schema=public"

# Ambiente de Execução
NODE_ENV="development"
PORT=3000

# Redis Cache e BullMQ
REDIS_URL="redis://localhost:6379"

# Feed Token Salt Global (para HMAC SHA-256)
FEED_TOKEN_SECRET="feed-secret-salt-key-minimum-32-chars-length"
